<div class="col s4 m4 l4">
  <div class="card small grey lighten-4">
    <div class="card-content teal-text text-darken-4">
      <span class="card-title"><%= cartoon.name %></span>
      <p>Description: WIP </p>
    </div>
    <div class="card-action teal darken-4">
      <%= link_to "More Information", cartoon_path(cartoon) %>
    </div>
  </div>
</div>